version: "3.9"
services:
  postgres:
    image: postgres:10.5
    networks:
      - default
    restart: always
    environment: 
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    logging:
      options:
        max-size: 10m
        max-file: "3"
    ports:
      - 5438:5432
    volumes:
      - ./sql/create_tables.sql:/docker-entrypoint-initdb.d/create_tables.sql
  
  load_data:
    build: .
    ports:
      - 5000:5000
    networks:
      - default
    restart: always

  metabase:
    image: metabase/metabase
    ports:
      - 3000:3000
    volumes:
      - ./metabase_archive/metabase.db.mv.db:/metabase.db/metabase.db.mv.db